@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

.media-scroller
{
    display: grid;
    gap: var(--size-3);
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    overflow-x: auto;
    padding-left: 0.5em;
    overscroll-behavior-inline: contain;
}



.snaps-inline
{
    scroll-snap-type: inline mndatory;
    scroll-padding: var(--size-3)
}

.snaps-inline > *
{
    scroll-snap-align: start;
}