.MediaElement
{
    display: grid;
    grid-template-rows:min-content;
    gap: var(--size-3);
    padding: var(--size-3);
    background: var(--surface-2);
    border-radius: var(--radius-2);
}

.MediaElement > img
{
    inline-size: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    box-shadow: var(--shadow-2); 
    outline: 0.1em solid rgba(255, 255, 255, 0.5);
    outline-offset: 0.3em;   
    
}

.AddToFavourites
{
   font-size: 1rem;
   border: 0.1em solid rgba(255, 255, 255, 0.5);

}

.MovieTitle, .MovieYear
{
    font-size: 1rem;
    font-weight: bold;
}
 

